COMPONENT_ID=com.attlas.services.auth
COMPONENT_VERSION=18.8.0
COMPONENT_PARAM_HOST=${COMPONENT_PARAM_HOST}
COMPONENT_PARAM_LSTN=${COMPONENT_PARAM_LSTN}
COMPONENT_PARAM_PORT=${COMPONENT_PARAM_PORT}
COMPONENT_PARAM_PORTS=${COMPONENT_PARAM_PORTS}
COMPONENT_PARAM_SECRET=${COMPONENT_PARAM_SECRET}
COMPONENT_PARAM_CORS_WHITELIST=${COMPONENT_PARAM_CORS_WHITELIST}

## project specific parameters
COMPONENT_PARAM_OAUTHIO_PUBLIC_KEY=${COMPONENT_PARAM_OAUTHIO_PUBLIC_KEY}
COMPONENT_PARAM_OAUTHIO_SECRET_KEY=${COMPONENT_PARAM_OAUTHIO_SECRET_KEY}
COMPONENT_PARAM_AUTH_KEY_LENGTH=${COMPONENT_PARAM_AUTH_KEY_LENGTH}
COMPONENT_PARAM_AUTH_TIMEOUT=${COMPONENT_PARAM_AUTH_TIMEOUT}
