export const CONSTS = {
  HOSTS: {
    SELF: 'http://${PROJECT_PARAM_HOST}:${PROJECT_PARAM_PORT}',
    BIND_SERVICE: 'http://${PROJECT_PARAM_AUTH_HOST}:${PROJECT_PARAM_AUTH_PORT}'
  },
  STORAGE: {
    USER: 'currentUser'
  }
};