<!--app-navbar></app-navbar>
<app-progress-bar></app-progress-bar-->
<div class="container-fluid" style="height:100vh">
  <div class="row h-100">
    <div class="offset-1 col-10 offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4 bg-light border h-100">
      Text
      <div class="container-fluid p-0" style="position:absolute;bottom:0px;left:0px">
      <!--div class="container-fluid fixed-bottom p-0"-->
        <div class="row m-0">
          <div class="col-2 p-0">
            <button type="button" class="btn btn-lg btn-light btn-block rounded-0 border">
              ...
            </button>
          </div>
          <div class="col-5 p-0">
            <button type="button" class="btn btn-lg btn-success btn-block rounded-0">
              Home
            </button>
          </div>
          <div class="col-5 p-0">
            <button type="button" class="btn btn-lg btn-dark btn-block rounded-0">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>