<div class="card rounded-0 mt-3">
  <div class="card-header">
    Referral Grid
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Senior DevOps Engineer<span class="badge badge-pill badge-info float-right">20$</span></li>
    <li class="list-group-item">Middle C++ developer<span class="badge badge-pill badge-info float-right">15$</span></li>
    <li class="list-group-item">Delivery manager<span class="badge badge-pill badge-info float-right">10$</span></li>
  </ul>
</div>