
.community-img {
}

.provider-icon {
  width: 64px;
}

.button-icon {
  width: 32px;
}

.circle {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border-width: 2px !important;
  width: 16px;
  height: 16px;
  left: -26px;
  top: -68px;
}

.sticked-container-bottom {
  position:absolute;
  bottom:0px;
  left:0px;
}