<app-navbar></app-navbar>
<app-progress-bar></app-progress-bar>
<!--app-nav-panel [options]="navButtons"></app-nav-panel-->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <a routerLink="/bind">
        <img class="img-fluid float-right pt-2" src="assets/images/icons/bind.png" width="32">
      </a>
    </div>
    <div class="col-12 col-sm-6">
      <app-liquidity></app-liquidity>
    </div>
    <div class="col-12 col-sm-6">
      <app-patron></app-patron>
    </div>
    <div class="col-12 col-sm-6">
      <app-referral></app-referral>
    </div>
  </div>
</div>
