<app-navbar></app-navbar>
<app-progress-bar></app-progress-bar>
<app-error-message [errorText]="matchResult.error"></app-error-message>
<form name="form" (ngSubmit)="f.form.valid && match()" #f="ngForm" novalidate>
  <div class="container-fluid" style="padding-top:24px">

    <div class="row">
      <div class="col-sm-6">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="changeMode(0)">Vacancy</div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="input-offset">
                <div class="form-group">
                  <textarea class="form-control" rows="10" id="interviewer" name="interviewer" [(ngModel)]="model.interviewer" #interviewer="ngModel" required></textarea>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <img (click)="changeMode(1) "class="cleverstaff-logo" src="https://cleverstaff.net/external/img/svg/logo-choozen.svg">
              ({{cleverstaffVacancies.length}})
            </ng-template>
            <ng-template ngbTabContent>
              <div class="input-offset">
                <p class="text-center text-info"  *ngIf="cleverstaffVacancies.length == 0">
                  <br/>
                  <span>In this mode, service will automatically export all available vacancies and use them for matching</span>
                </p>
                <ul class="list-group">
                  <li *ngFor="let vacancy of cleverstaffMatches" class="list-group-item">{{vacancy.title}}<span class="badge badge-success float-right" (click)="showMatchResult(vacancy.matchResult)">{{vacancy.matchResult.value}}%</span></li>
                </ul>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="col-sm-6">
        <ngb-tabset>
          <ngb-tab title="Resume">
            <ng-template ngbTabContent>
              <div class="input-offset">
                <div class="form-group">
                  <textarea class="form-control" rows="10"  id="interviewee" name="interviewee" [(ngModel)]="model.interviewee" #interviewer="ngModel" required></textarea>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
    <!-- Matching results -->
    <app-match-dashboard [matchResult]="matchResult"></app-match-dashboard>
    <!-- Match -->
    <div class="row text-center">
      <div class="offset-sm-5 col-sm-2">
        <p>
        <br/>
          <button [disabled]="matching" type="submit" class="btn btn-lg btn-info">
            <img *ngIf="matching" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            Match</button>
        </p>
      </div>
    </div>
  </div>
</form>

