<div class="home-bg bg-light p-3">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-sm-2 col-sm-8">
        <div class="jumbotron bg-light">
          <h1 class="display-4">Hi, there!</h1>
          <p class="lead">With our service you can speed up your career by finding a patron, review only best opportunities on the market using auto-matching CV/Vacancy tool and monetize your social graph with referral grid.</p>
          <hr class="my-4">
          <p class="font-italic">I run my business on my phone<br/>Matt Hunter | Salesforce.com CEO</p>
          <p class="lead text-center fixed-bottom">
            <a class="btn btn-primary btn-lg" routerLink='/feed' role="button">Join our community</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
