<div class="card rounded-0 mt-3">
  <div class="card-header">
     IT liquidity
  </div>
  <div class="card-body m-0 p-0">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>
    <a href="#" class="card-link float-right p-1">more details</a>
    <!--a href="#" class="btn btn-primary">Go somewhere</a-->
  </div>
  <div class="card-footer text-muted text-center">
    Your score is <span class="badge badge-pill badge-info">52%</span> based on <span class="badge badge-pill badge-info">+2K</span> opened vacancies
  </div>
</div>
